<html>
  {% include "head.html" %}
  <body>
    {% include "menu.html" %}
    <h1>Shopping Cart</h1>
    <div id="shopping-cart">
      {% if 'cart' in session %}
      <a id="btnEmpty" href="{{ url_for('.empty_cart') }}">Empty Cart</a>
      <table class="tbl-cart" cellpadding="10" cellspacing="1">
	<tbody>
	  <tr>
	    <th style="text-align:left;">Name</th>
	    <th style="text-align:right;" width="5%">Quantity</th>
	    <th style="text-align:right;" width="10%">Unit Price</th>
	    <th style="text-align:right;" width="10%">Price</th>
	    <th style="text-align:center;" width="5%">Remove</th>
	  </tr>
	  {% for key, val in session['cart'].items() %}
	  {% set index = key %}
	  {% set name = session['cart'][key]['name'] %}
	  {% set quantity = session['cart'][key]['quantity'] %}
	  {% set unit_price = session['cart'][key]['unit_price'] %}
	  {% set item_price = session['cart'][key]['total_price'] %}
	  <tr>
	    <td><a href="{{ url_for('.show_item', index=index) }}">{{ name }}</a></td>
	    <td id="quantity" style="text-align:right;">{{ quantity }}</td>
	    <td style="text-align:right;">{{ unit_price }}</td>
	    <td style="text-align:right;">{{ item_price }}</td>
	    <td style="text-align:center;">
	      <a href="{{ url_for('.delete_product', index=index) }}" class="btnRemoveAction"/>Remove</a>
	    </td>
	  </tr>
	  {% endfor %}
	  <tr>
	    <td align="right">Total:</td>
	    <td align="right" class='total_qty'>{{ session['all_total_quantity'] | int }}</td>
	    <td></td>
	    <td align="right" class='total_price'>{{ session['all_total_price'] }}</td>
	    <td><a href="/pay">Pay !</a></td>
	  </tr>
	</tbody>
      </table>
      {% else: %}
      <div class="no-records">Your Cart is Empty</div>
      {% endif %}
    </div>
    {% include "footer.html"%}
  </body>
</html>
