<html>
    <head>
        <title>{{header}} - {{item.name}}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/normalize.css') }}">
    </head>
    <body>
        {% include "header.html"%}
        <h2>{{item.name}}</h2>
        <pre>{{item.desc}}</pre><hr>
        <h2>Buy:
            {% for pc in item.pcs %}
            <a href="/order/{{index}}/{{pc}}">({{pc}}pc={{(item.price/rate*pc) | round(4,'floor')}}btc)</a>
            {% endfor %}

        </h2>
        Price(€/kpl):{{item.price}}<br>
        Price(btc/kpl):{{(item.price/rate) | round(4,'floor')}}<br>
    <hr><small>1 BTC={{rate}}€ - {% include "footer.html"%}</small>
    </body>