<html>
    <head>
        <title>{{header}} - {{item.name}}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/normalize.css') }}">
    </head>
    <body>
        {% include "header.html"%}
        <h2>{{item.name}}</h2>
        {{item.desc}}<hr>
        <h2>Buy</h2>
	  <form action="/add" method="POST">
	  <select>
            {% for pc in item.pcs %}
	    <option value="{{pc}}">{{pc}} ({{(item.price/rate*pc) | round(5,'floor')}}btc)</option>
            {% endfor %}
	  </select>
	  <input type="submit">Add to cart</input>
        Price(€/kpl):{{item.price}}<br>
        Price(btc/kpl):{{(item.price/rate) | round(4,'floor')}}<br>
    <hr><small>1 BTC={{rate}}€ - {% include "footer.html"%}</small>
    </body>
