<html>
  {% include "head.html"%}
  <body>
    {% include "menu.html"%}
    <h1>In store:</h1>
    <table class="table">
      <caption>
        <tr>
          <th>Item</th>
          <th>Price/€</th>
          <th>Price/btc</th>
          <th>Storage</th>
        </tr>
      </caption>
      {% for item in items %}
      {% if item[3]!=0 %}
      <tr>
        <td><a href="/item/{{item[1]}}">{{item[0]}}</a></td>
	<td>{{"%.2f"|format(item[2])}}</td>
        <td>{{(item[2]/rate) | round(4,'floor')}}</td>
        <td>
	  <form action="/add" id="add_to_cart" method="POST">
	    <input type="hidden" name="item" value="{{item[1]}}">
	    {% if item[3]<0 %}
	    <input type="hidden" name="quantity" value="1">
	    {% else %}
	    <select id="quantity" name="quantity" form="add_to_cart">
	      {% for pc in item[5].split(',') %}
	      <option value="{{pc}}">{{pc}} ({{(item[2]/rate*(pc | int)) | round(5,'floor')}}btc)</option>
	      {% endfor %}
	    </select>
	    {% endif %}
	    <input type="submit" value="Add to cart">
	  </form>
	</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
    {% include "footer.html"%}
  </body>
</html>
